@{
    Layout = "~/Pages/Shared/_Layout.cshtml";

}

<h1>Lista de Raças</h1>

<div class="row mb-1">
    <div class="text-end">
        <a href="/raca/cadastrar" class="btn btn-primary">Cadastrar</a>
    </div>

</div>


<table class="table table-striped table-bordered">
    <thead>
        <!-- Cabeçalho da tabela-->
        <tr>
            <!-- Linha da tabela-->
            <th>Código</th> <!-- Coluna específica do cabeçalho-->
            <th>Nome</th>
            <th>Espécie</th>
        </tr>
    </thead>
    <tbody>
        <!-- Lugar dos registros da tabela-->
        @foreach (var raca in ViewBag.Racas)
        {
            <tr>
                <!-- Linha-->
                <td>@raca.Id</td> <!-- Coluna específica para body-->
                <td>@raca.Nome</td>
                <td>@raca.Especie</td>
            </tr>
        }

    </tbody>
</table>